@media screen and (max-width: 1000px){
    .explorer-desktop h1{
        color: var(--white-color);
        font-size: 30px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
    
    
    
    .desktop-link-holder ul {
        justify-content: space-evenly;
    }

    .desktop-link-holder ul a{
        padding: 10px 5px;
        font-size: 28px;
        color: var(--white-color);
        text-decoration: none;
        font-family: sans-serif;
        text-align: center;
        font-weight: bolder;
        border: 3px solid transparent;
        transition: all 0.5s ease;
        position: relative;
        border-radius: 10px;
    }

    .desktop-link-holder ul a::after{
        display: none;
    }

    .desktop-link-holder ul a:hover{
        border: 3px solid rgba(255, 255, 255, 0.3);
        margin: 0 10px;
    }

    .header-text-container {
        /* padding-right: 100px; */
        /* border: 2px solid tomato; */
        width: 100%;
        padding: 50px;
    }
    
    .header-text-container h1{
        font-family: sans-serif;
        font-size: 40px;
        color: var(--white-color);
        text-transform: uppercase;
        text-align: left;
    }
    
    .header-text-container p{
        color: var(--white-color);
        font-family: sans-serif;
        font-size: 25px;
        margin: 100px 0 50px 0;
    }
    
}


@media screen and (max-width: 700px){
    header {
        height: 100vh;
        width: 100%;
        /* min-height: 1200px; */
        /* min-width: 650px; */
        /* border: 2px solid black; */
        background: var(--gradient-two), url(./img/header.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.4);
        padding: 0.05px;
        
    }



    /* nav mobile starts here */

    /* preloader starts here */
    #preloader{
        background: #000 url(./preloader/circle-loader.gif) no-repeat center;
        background-size: 20%;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
/* preloader ends here */

    .nav-mobile {
        display:flex;
        /* border: 2px solid black; */
        background: var(--main-color);
        padding: 20px 20px;
        position: fixed;
        justify-content: space-between;
        width: 100vw;
        top: 0;
        align-items: center;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.45);
    }

    .explorer-mobile h1{
        color: var(--white-color);
        font-size: 34px;
        font-family: sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        position: fixed;
        top: 0;
        left: 0;
        margin: 20px 20px;
        animation: explora;
        animation-duration: 4s;
        animation-fill-mode: forwards;

    }

    @keyframes explora {
        0% {left: -200px;}
        100% {left: 0}
    }



    .hamburger {
        /* border: 3px solid black; */
        width: 34px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* position: absolute; */
        /*  position: fixed; */
        right: 0;
        margin-right: 10px;
        /* transition: all 1s ease; */
        
    }

    
    .menu {
        height: 4.5px;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        position: relative;
        border-radius: 10px;
        transition: all 3s ease;
        animation: hamburger;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        
    }
    @keyframes hamburger {
        0% {right: -200px;}
        100% {right: 0;}
    }
    
    @keyframes hamburgerr {
        0% {width: 110%;}
        100% {width: 90%;}
    }
    
    @keyframes hamburgerrr {
        0% {width: 120%;}
        100% {width: 100%;}
    }
    
    .menu::before {
        content: "";
        width: 100%;
        height: 4.5px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        transform: translateY(-11px);
        border-radius: 10px;
        transition: all 0.8s ease;
        animation: hamburger, hamburgerr;
        animation-duration: 2s, 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1, infinite;
        animation-delay: 0, 2.5s;
        animation-direction: normal, alternate;
        animation-timing-function: ease-in-out;
    }
    

    
    .menu::after {
        content: "";
        width: 100%;
        height: 4.5px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        transform: translateY(11px);
        border-radius: 10px;
        transition: all 0.8s ease;
        animation: hamburger, hamburgerrr;
        animation-duration: 2.5s, 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1, infinite;
        animation-delay: 0, 1.5s;
        animation-direction: normal, alternate;
        animation-timing-function: ease-in-out;
    }
    
    .showburger{
        /* position: fixed; */
        align-items: center;
        justify-content: center;
        /* right: 0; */
        /* margin-right: 20px; */
        /* width: 25px;
        height: 25px; */
        z-index: 7;
        /* rotate: 360deg; */
        transition: all 1s ease;
        /* animation: crystal;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        animation-delay: 1s; */
    }
/* 
    @keyframes crystal {
        0% {rotate: 180deg;}
        100% {rotate: -180deg;}
    } */
    
    .showburger .menu {
        background: transparent;
        transition: all 0.2s ease;
    }
    
    .showburger .menu::before {
        transition: all 0.8s ease;
        transform: rotate(45deg);
        background: var(--white-color);
        animation: none;
    }
    .showburger .menu::after {
        transition: all 0.8s ease;
        transform: rotate(-45deg);
        background: var(--white-color);
        animation: none;
    }


    

    .mobile-link-holder {
        transform: translateY(-200%);
        position: fixed;
        right: 0;
        top: 0;

        /* height: 50vh; */
        width: 100%;
        background: var(--main-color);
        transition: all 0.5s ease;
        z-index: 6;
        margin-top: 75px;
        box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.08);
        padding-bottom: 30px;
        
        
        /* border-left:10px solid var(--black-gradient) ; */
        /* padding: 25px 0 25px 20px; */
    }

    .show-mobile-link-holder {
        transform: translateX(0);
        /* transform: translateY(10); */
        /* border-radius: 50px; */
    }
    
    .mobile-link-holder ul {
        list-style: none;
    }
    
    .mobile-link-holder a {
        color: var(--white-color);
        text-decoration: none;
        display: block;
        padding: 25px 0 10px 20px;
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 28px;
    }
    
    
    .mobile-active-link {
        background: var(--white-color);
        color: var(--main-color) !important;
        align-items: center;
    }


    /* nav mobile ends here */



    
    .nav-desktop {
        display: none;
    }
    
    .header-text-container h1{
        font-family: sans-serif;
        font-size: 28px;
        color: var(--white-color);
        text-transform: uppercase;
        text-align: left;
    }
    
    .header-text-container {
        /* margin-top: 100px; */
        /* border: 2px solid tomato; */
        width: 100%;
        padding: 0 20px;
    }
    
    .header-text-container p{
        color: var(--white-color);
        font-family: sans-serif;
        font-size: 24px;
        margin: 50px 0 20px 0;
        text-align: left;
    }
    
    .header-text-container button {
        min-width: 264px;
        font-size: 26px;
        animation: none
        /* z-index: -1; */
        /* padding: 5px 30px; */
    }


    .header-text-container button img{
        width: 20px;
        height: 20px;
        margin-left: 10px;
        transition: all 1s ease;
    }
    
    .header-text-container button:hover {
        width: 250px;
    }
    
    .header-banner-section {
        /* border: 2px solid black; */
        height: 80%;
        margin-top: 50px;
        
    }



    main{
        padding: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .explore {
        /* border: 2px black; */
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .explore-holder {
        border: 0.5px solid transparent;
        padding: 30px 30px ;
        margin: 0 10px 40px 10px;
        width: 400px;
        max-width: 400px;
        height: 430px;
        background: var(--main-color);
        border-radius: 20px;
        box-shadow: 8px 10px 60px -8px rgba(0, 0, 0, 0.4);
    }

    .explore-holder h1{
        color: var(--white-color);
        font-family: sans-serif;
        font-size: 45px;
        font-weight: bolder;
    }
    
    .explore-holder p{
        padding: 30px 0;
        color: var(--white-color);
        font-family: sans-serif;
        font-size: 19.5px;
        font-weight: bolder;
    }
    
    .getstart{
        justify-content: center;
        align-items: center;
        /* padding: 30px 30px 30px 30px; */
        /* padding: 10px; */
    }

    .getstart button{
        width: 250px;
        margin-top: 40px;
        align-items: center;
        padding: 10px;
    }
    
    .getstart button h1{
        font-family: sans-serif;
        font-weight: bolder;
        font-size: 30px;
        color: var(--main-color);
    }
    


    .banner-content{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .form-box button{
        color: #fff;
        padding: 15px 20px;
        font-size: 20px;
        border: none;
        border-radius: 20px;
        background: var(--main-color);
        cursor: pointer;
        transition: .3s;
        animation: formbox;
        animation-fill-mode: forwards;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-delay: 4s;
        position: relative;
    }
    
    @keyframes formbox {
        0% {left: 50px;}
        100% {left: 0;}
    }

    .outro{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        background: var(--main-color);
        color: var(--white-color);
        align-items: center;
    }
    
    .outro h2{
        font-size: 20px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bolder;
    }

    .outro button{
        width: 175px;
        font-size: 20px;
        height: 50px;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 5px;
    }


    .footer-holder{
        background: black;
        display: flex;
        flex-direction: column;
        color: var(--white-color);
        padding: 20px 40px;
        font-family: sans-serif;
        font-weight: bolder;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    /* .footer-holder h2{
        animation: footertext;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes footertext {
        0% {top: -200px;}
        25% {top: -150px;}
        50% {top: -100px;}
        75% {top: -50;}
        100% {top: 0;}
    } */


    
    .footer-icon-holder{
        margin-top: 17px;
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        /* margin-right: 20px; */
        
    }
    
    .footer-icon-holder div{
        margin: 0 10px;
        border: 2px dotted transparent;
        transition: all 0.5s ease;
        padding: 7px;
        border-radius: 50px;
        
    
    }
    
    .footer-icon-holder div:hover {
        /* border-bottom: 2px dotted rgba(255, 255, 255, 0.479); */
        box-shadow: transparent;
    }


    /* linkedin icon starts */
    .linkedin a img{
        width: 30px;
        height: 30px;
        color: white;
        background: black;
    }
    
    /* linkedin icon ends */
    
    /* github icon starts */
    .github a img{
        width: 32px;
        height: 32px;
        color: white;
        background: black;
    }
    
    /* github icon ends */
    
    /* twitter icon starts */
    .twitter a img{
        width: 30px;
        height: 30px;
        color: white;
        background: black;
    }
    
    /* twitter icon ends */
    



}